.dark-theme {
          --accent: #008697;
  --fg-default: #ffffff;
  --fg-muted: #97a6ba;
  --fg-on-light: #27303f;
  --fg-on-dark: #ffffff;
  --fg-gray: #cfd8e3;
  --bg-default: #27303f;
  --bg-muted: #475569;
  --bg-gray: #475569;
  --text-on-dark: #ffffff;
  --text-on-light: #27303f;
  --text-default: #ffffff;
  --controls-close-on-black-standard: #00505b;
  --controls-close-on-black-hover: #ffffff;
  --controls-close-on-black-pressed: #80c3cb;
  --controls-close-on-black-disabled: #97a6ba;
  --controls-close-on-white-standard: #97a6ba;
  --controls-close-on-white-hover: #64748b;
  --controls-close-on-white-pressed: #475569;
  --controls-close-on-white-disabled: #cfd8e3;
  --stroke-dark: #27303f;
  --stroke-light: #475569;
  --stroke-accent: #008697;
  --button-background-primary-standard: #008697;
  --button-background-primary-hover: #339eac;
  --button-background-primary-pressed: #05505c;
  --button-background-primary-disabled: #475569;
  --button-background-secondary-standard: #364152;
  --button-background-secondary-hover: #475569;
  --button-background-secondary-pressed: #364152;
  --button-background-secondary-disabled: #64748b;
  --button-background-selector-standard: #27303f00;
  --button-background-selector-hover: #364152;
  --button-background-selector-pressed: #475569;
  --button-background-selector-disabled: #475569;
  --button-background-collapse-horizontal-standard: #475569;
  --button-background-collapse-horizontal-hover: #97a6ba;
  --button-background-collapse-horizontal-pressed: #475569;
  --button-background-collapse-horizontal-disabled: #e2e8f0;
  --button-background-collapse-vertical-standard: #f1f5f9;
  --button-background-collapse-vertical-hover: #e2e8f0;
  --button-background-collapse-vertical-pressed: #cfd8e3;
  --button-background-collapse-vertical-disabled: #f1f5f9;
  --s: 4;
  --medium: 6;
  --large: 8;
  --tab-blank-active-standard: #ffffff;
  --tab-blank-active-hover: #008697;
  --tab-blank-active-pressed: #80c3cb;
  --tab-blank-active-disabled: #475569;
  --tab-blank-unactive-standard: #97a6ba;
  --tab-blank-unactive-hover: #008697;
  --tab-blank-unactive-pressed: #80c3cb;
  --tab-blank-unactive-disabled: #475569;
  --tab-filled-active-standard: #339eac;
  --tab-filled-active-hover: #008697;
  --tab-filled-active-pressed: #1992a1;
  --tab-filled-active-disabled: #64748b;
  --tab-filled-unactive-standard: #364152;
  --tab-filled-unactive-hover: #475569;
  --tab-filled-unactive-pressed: #364152;
  --tab-filled-unactive-disabled: #64748b;
  --tab-outlined-active-standard: #ffffff;
  --tab-outlined-active-hover: #008697;
  --tab-outlined-active-pressed: #05505c;
  --tab-outlined-active-disabled: #97a6ba;
  --tab-outlined-unactive-standard: #97a6ba;
  --tab-outlined-unactive-hover: #008697;
  --tab-outlined-unactive-pressed: #05505c;
  --tab-outlined-unactive-disabled: #97a6ba;
  --input-background-standard: #364152;
  --input-background-hover: #475569;
  --input-background-pressed: #64748b;
  --input-background-disabled: #475569;
  --input-stroke-standard: #b3dbe0;
  --input-stroke-hover: #80c3cb;
  --input-stroke-pressed: #4daab6;
  --input-stroke-disabled: #e2e8f0;
  --dropdown-background-standard: #364152;
  --dropdown-background-hover: #475569;
  --dropdown-background-pressed: #64748b;
  --dropdown-background-disabled: #475569;
  --dropdown-stroke-standard: #b3dbe0;
  --dropdown-stroke-hover: #80c3cb;
  --dropdown-stroke-pressed: #4daab6;
  --dropdown-stroke-disabled: #e2e8f0;
  --checkbox-background-standard: #364152;
  --checkbox-background-hover: #475569;
  --checkbox-background-pressed: #64748b;
  --checkbox-background-disabled: #64748b;
  --checkbox-background-checked: #008697;
  --checkbox-background-checked-hover: #4daab6;
  --checkbox-background-checked-disabled: #64748b;
  --checkbox-stroke-standard: #008697;
  --checkbox-stroke-hover: #008697;
  --checkbox-stroke-pressed: #006b79;
  --checkbox-stroke-disabled: #e2e8f0;
  --radiobutton-background-standard: #364152;
  --radiobutton-background-hover: #475569;
  --radiobutton-background-pressed: #64748b;
  --radiobutton-background-disabled: #64748b;
  --radiobutton-background-checked: #008697;
  --radiobutton-background-checked-hover: #4daab6;
  --radiobutton-background-checked-disabled: #64748b;
  --radiobutton-stroke-standard: #b3dbe0;
  --radiobutton-stroke-hover: #80c3cb;
  --radiobutton-stroke-pressed: #4daab6;
  --radiobutton-stroke-disabled: #e2e8f0;
  --radiobutton-stroke-disabled-copy: #e2e8f0;
  --xs: 2;
  --xl: 32;
  --link-on-light-standard: #008697;
  --link-on-light-hover: #4daab6;
  --link-on-light-pressed: #006b79;
  --link-on-light-visited: #4daab6;
  --link-on-light-disabled: #97a6ba;
  --link-on-dark-standard: #4daab6;
  --link-on-dark-hover: #80c3cb;
  --link-on-dark-pressed: #1992a1;
  --link-on-dark-visited: #80c3cb;
  --link-on-dark-disabled: #97a6ba;
  --side-bar-background: #1A202E;
      }