.dark-theme {
          --theme-surface-modal: #fbfdfe;
  --theme-surface-main: #27303f;
  --theme-text-main: #ffffff;
  --theme-controls-close-standard: #ffffff;
  --theme-heading-1: [object Object];
  --theme-inter: Inter;
  --theme-copy: [object Object];
  --theme-stroke-dark: #27303f;
  --theme-stroke-light: #9fa6b2;
  --theme-s: [object Object];
  --theme-button-background-primary-standard: #008697;
  --theme-button-background-primary-hover: #4daab6;
  --theme-button-background-primary-pressed: #05505c;
  --theme-button-background-primary-disabled: #cce7ea;
  --theme-button-background-secondary-standard: #ffffff00;
  --theme-button-background-secondary-hover: #e5e7eb;
  --theme-button-background-secondary-pressed: #9fa6b2;
  --theme-button-background-secondary-disabled: #e5e7eb;
  --theme-button-big: 4;
  --theme-s-caps: [object Object];
      }