.global-theme {
          --brand-tral-secondary-1: #fefefe;
  --brand-tral-secondary-2: #fcfcfc;
  --brand-tral-secondary-3: #fafafa;
  --brand-tral-secondary-4: #f8f8f8;
  --brand-tral-secondary-5: #f6f6f6;
  --brand-tral-secondary-6: #f4f4f4;
  --brand-tral-secondary-7: #f2f2f2;
  --brand-tral-secondary-8: #f0f0f1;
  --brand-tral-secondary-9: #eeeeef;
  --brand-tral-secondary-10: #ececed;
  --brand-tral-secondary-11: #e9eaeb;
  --brand-tral-secondary-12: #e7e8e9;
  --brand-tral-secondary-13: #e5e6e7;
  --brand-tral-secondary-14: #e3e4e5;
  --brand-tral-secondary-15: #e1e2e3;
  --brand-tral-secondary-16: #dfe0e1;
  --brand-tral-secondary-17: #dddedf;
  --brand-tral-secondary-18: #dbdcdd;
  --brand-tral-secondary-19: #d9dadb;
  --brand-tral-secondary-20: #d7d8d9;
  --brand-tral-secondary-21: #d5d6d7;
  --brand-tral-secondary-22: #d3d4d5;
  --brand-tral-secondary-23: #d0d2d3;
  --brand-tral-secondary-24: #ced0d1;
  --brand-tral-secondary-25: #cccecf;
  --brand-tral-secondary-26: #cacccd;
  --brand-tral-secondary-27: #c8cacb;
  --brand-tral-secondary-28: #c6c8c9;
  --brand-tral-secondary-29: #c4c6c7;
  --brand-tral-secondary-30: #c4c6c7;
  --brand-tral-secondary-31: #bdbfc0;
  --brand-tral-secondary-32: #b6b8b9;
  --brand-tral-secondary-33: #afb1b2;
  --brand-tral-secondary-34: #a8aaab;
  --brand-tral-secondary-35: #a1a3a4;
  --brand-tral-secondary-36: #9a9c9d;
  --brand-tral-secondary-37: #949596;
  --brand-tral-secondary-38: #8d8e8f;
  --brand-tral-secondary-39: #868788;
  --brand-tral-secondary-40: #7f8081;
  --brand-tral-secondary-41: #78797a;
  --brand-tral-secondary-42: #717273;
  --brand-tral-secondary-43: #6a6b6c;
  --brand-tral-secondary-44: #636465;
  --brand-tral-secondary-45: #5c5d5e;
  --brand-tral-secondary-46: #555657;
  --brand-tral-secondary-47: #4e4f50;
  --brand-tral-secondary-48: #474849;
  --brand-tral-secondary-49: #414142;
  --brand-tral-secondary-50: #3a3a3b;
  --brand-tral-primary-1: #fcfefe;
  --brand-tral-primary-2: #f4fafb;
  --brand-tral-primary-3: #ecf7f8;
  --brand-tral-primary-4: #e4f3f5;
  --brand-tral-primary-5: #dcf0f2;
  --brand-tral-primary-6: #d4ecef;
  --brand-tral-primary-7: #cce8ec;
  --brand-tral-primary-8: #c4e5e9;
  --brand-tral-primary-9: #bce1e6;
  --brand-tral-primary-10: #b4dee3;
  --brand-tral-primary-11: #acdae0;
  --brand-tral-primary-12: #a4d7dd;
  --brand-tral-primary-13: #9cd3da;
  --brand-tral-primary-14: #94cfd7;
  --brand-tral-primary-15: #8cccd4;
  --brand-tral-primary-16: #84c8d1;
  --brand-tral-primary-17: #7cc5ce;
  --brand-tral-primary-18: #74c1cb;
  --brand-tral-primary-19: #6bbec8;
  --brand-tral-primary-20: #63bac5;
  --brand-tral-primary-21: #5bb7c2;
  --brand-tral-primary-22: #53b3bf;
  --brand-tral-primary-23: #4bafbc;
  --brand-tral-primary-24: #43acb9;
  --brand-tral-primary-25: #3ba8b6;
  --brand-tral-primary-26: #33a5b3;
  --brand-tral-primary-27: #2ba1b0;
  --brand-tral-primary-28: #239ead;
  --brand-tral-primary-29: #1b9aaa;
  --brand-tral-primary-30: #1b9aaa;
  --brand-tral-primary-31: #1a95a4;
  --brand-tral-primary-32: #198f9e;
  --brand-tral-primary-33: #188a98;
  --brand-tral-primary-34: #178492;
  --brand-tral-primary-35: #167f8c;
  --brand-tral-primary-36: #157986;
  --brand-tral-primary-37: #147480;
  --brand-tral-primary-38: #136f7a;
  --brand-tral-primary-39: #126974;
  --brand-tral-primary-40: #11646e;
  --brand-tral-primary-41: #115e68;
  --brand-tral-primary-42: #105962;
  --brand-tral-primary-43: #0f535c;
  --brand-tral-primary-44: #0e4e56;
  --brand-tral-primary-45: #0d4850;
  --brand-tral-primary-46: #0c434a;
  --brand-tral-primary-47: #0b3e44;
  --brand-tral-primary-48: #0a383e;
  --brand-tral-primary-49: #093338;
  --brand-tral-primary-50: #082d32;
  --border-radius-base2: 2px;
  --border-radius-base3: 3px;
  --border-radius-base4: 4px;
  --font-families-inter: Inter;
  --font-families-montserrat: Montserrat;
  --font-families-roboto: Roboto;
  --line-heights-0: 120%;
  --font-weights-regular: Regular;
  --font-weights-medium: Medium;
  --font-weights-semibold: SemiBold;
  --font-weights-bold: Bold;
  --font-size-11px: 11;
  --font-size-12px: 12;
  --font-size-14px: 14;
  --font-size-16px: 16;
  --font-size-18px: 18;
  --font-size-20px: 20;
  --font-size-22px: 22;
  --font-size-25px: 25;
  --font-size-28px: 28;
  --letter-spacing-0: 0%;
  --paragraph-spacing-0: 0;
  --size-base2: 2;
  --size-base3: 3;
  --size-base4: 4;
  --space-base2: 2;
  --space-base3: 3;
  --space-base4: 4;
  --border-width-base1: 1px;
  --border-width-base2: 2px;
  --palette-gray-warm-1: #ffffff;
  --palette-gray-warm-2: #fdfdfd;
  --palette-gray-warm-3: #fcfcfc;
  --palette-gray-warm-4: #fbfbfa;
  --palette-gray-warm-5: #faf9f9;
  --palette-gray-warm-6: #f9f8f7;
  --palette-gray-warm-7: #f8f7f6;
  --palette-gray-warm-8: #f7f6f5;
  --palette-gray-warm-9: #f6f4f3;
  --palette-gray-warm-10: #f4f3f2;
  --palette-gray-warm-11: #f3f2f0;
  --palette-gray-warm-12: #f2f1ef;
  --palette-gray-warm-13: #f1efee;
  --palette-gray-warm-14: #f0eeec;
  --palette-gray-warm-15: #efedeb;
  --palette-gray-warm-16: #eeece9;
  --palette-gray-warm-17: #edeae8;
  --palette-gray-warm-18: #ebe9e7;
  --palette-gray-warm-19: #eae8e5;
  --palette-gray-warm-20: #e9e6e4;
  --palette-gray-warm-21: #e8e5e2;
  --palette-gray-warm-22: #e7e4e1;
  --palette-gray-warm-23: #e6e3df;
  --palette-gray-warm-24: #e5e1de;
  --palette-gray-warm-25: #e4e0dd;
  --palette-gray-warm-26: #e2dfdb;
  --palette-gray-warm-27: #e1deda;
  --palette-gray-warm-28: #e0dcd8;
  --palette-gray-warm-29: #dfdbd7;
  --palette-gray-warm-30: #dfdbd7;
  --palette-gray-warm-31: #d7d3cf;
  --palette-gray-warm-32: #cfccc8;
  --palette-gray-warm-33: #c7c4c0;
  --palette-gray-warm-34: #c0bcb9;
  --palette-gray-warm-35: #b8b4b1;
  --palette-gray-warm-36: #b0ada9;
  --palette-gray-warm-37: #a8a5a2;
  --palette-gray-warm-38: #a09d9a;
  --palette-gray-warm-39: #989593;
  --palette-gray-warm-40: #908e8b;
  --palette-gray-warm-41: #888684;
  --palette-gray-warm-42: #817e7c;
  --palette-gray-warm-43: #797774;
  --palette-gray-warm-44: #716f6d;
  --palette-gray-warm-45: #696765;
  --palette-gray-warm-46: #615f5e;
  --palette-gray-warm-47: #595856;
  --palette-gray-warm-48: #51504e;
  --palette-gray-warm-49: #494847;
  --palette-gray-warm-50: #42403f;
  --palette-gray-warm-51: #3a3938;
  --palette-gray-warm-52: #323130;
  --palette-gray-warm-53: #2a2928;
  --palette-gray-warm-54: #222121;
  --palette-gray-warm-55: #1a1a19;
  --palette-gray-warm-56: #121212;
  --palette-gray-warm-57: #0a0a0a;
  --palette-gray-warm-58: #030303;
  --palette-gray-warm-59: #050505;
  --palette-gray-cool-1: #fefefe;
  --palette-gray-cool-2: #fcfcfc;
  --palette-gray-cool-3: #fafafa;
  --palette-gray-cool-4: #f8f8f8;
  --palette-gray-cool-5: #f6f6f6;
  --palette-gray-cool-6: #f4f4f4;
  --palette-gray-cool-7: #f2f2f2;
  --palette-gray-cool-8: #f0f0f1;
  --palette-gray-cool-9: #eeeeef;
  --palette-gray-cool-10: #ececed;
  --palette-gray-cool-11: #e9eaeb;
  --palette-gray-cool-12: #e7e8e9;
  --palette-gray-cool-13: #e5e6e7;
  --palette-gray-cool-14: #e3e4e5;
  --palette-gray-cool-15: #e1e2e3;
  --palette-gray-cool-16: #dfe0e1;
  --palette-gray-cool-17: #dddedf;
  --palette-gray-cool-18: #dbdcdd;
  --palette-gray-cool-19: #d9dadb;
  --palette-gray-cool-20: #d7d8d9;
  --palette-gray-cool-21: #d5d6d7;
  --palette-gray-cool-22: #d3d4d5;
  --palette-gray-cool-23: #d0d2d3;
  --palette-gray-cool-24: #ced0d1;
  --palette-gray-cool-25: #cccecf;
  --palette-gray-cool-26: #cacccd;
  --palette-gray-cool-27: #c8cacb;
  --palette-gray-cool-28: #c6c8c9;
  --palette-gray-cool-29: #c4c6c7;
  --palette-gray-cool-30: #c4c6c7;
  --palette-gray-cool-31: #bdbfc0;
  --palette-gray-cool-32: #b6b8b9;
  --palette-gray-cool-33: #afb1b2;
  --palette-gray-cool-34: #a8aaab;
  --palette-gray-cool-35: #a1a3a4;
  --palette-gray-cool-36: #9a9c9d;
  --palette-gray-cool-37: #949596;
  --palette-gray-cool-38: #8d8e8f;
  --palette-gray-cool-39: #868788;
  --palette-gray-cool-40: #7f8081;
  --palette-gray-cool-41: #78797a;
  --palette-gray-cool-42: #717273;
  --palette-gray-cool-43: #6a6b6c;
  --palette-gray-cool-44: #636465;
  --palette-gray-cool-45: #5c5d5e;
  --palette-gray-cool-46: #555657;
  --palette-gray-cool-47: #4e4f50;
  --palette-gray-cool-48: #474849;
  --palette-gray-cool-49: #414142;
  --palette-gray-cool-50: #3a3a3b;
  --palette-gray-cool-51: #333334;
  --palette-gray-cool-52: #2c2c2c;
  --palette-gray-cool-53: #252525;
  --palette-gray-cool-54: #1e1e1e;
  --palette-gray-cool-55: #171717;
  --palette-gray-cool-56: #101010;
  --palette-gray-cool-57: #090909;
  --palette-gray-cool-58: #020202;
  --palette-tral-warm-green-1: #fefefc;
  --palette-tral-warm-green-2: #fafaf5;
  --palette-tral-warm-green-3: #f6f6ed;
  --palette-tral-warm-green-4: #f2f3e6;
  --palette-tral-warm-green-5: #eeefde;
  --palette-tral-warm-green-6: #eaebd7;
  --palette-tral-warm-green-7: #e6e8cf;
  --palette-tral-warm-green-8: #e3e4c8;
  --palette-tral-warm-green-9: #dfe0c0;
  --palette-tral-warm-green-10: #dbddb9;
  --palette-tral-warm-green-11: #d7d9b1;
  --palette-tral-warm-green-12: #d3d5aa;
  --palette-tral-warm-green-13: #cfd2a2;
  --palette-tral-warm-green-14: #cbce9b;
  --palette-tral-warm-green-15: #c7ca93;
  --palette-tral-warm-green-16: #c3c78c;
  --palette-tral-warm-green-17: #c0c384;
  --palette-tral-warm-green-18: #bcbf7d;
  --palette-tral-warm-green-19: #b8bc75;
  --palette-tral-warm-green-20: #b4b86e;
  --palette-tral-warm-green-21: #b0b466;
  --palette-tral-warm-green-22: #acb15f;
  --palette-tral-warm-green-23: #a8ad57;
  --palette-tral-warm-green-24: #a4a950;
  --palette-tral-warm-green-25: #a1a648;
  --palette-tral-warm-green-26: #9da241;
  --palette-tral-warm-green-27: #999e39;
  --palette-tral-warm-green-28: #959b32;
  --palette-tral-warm-green-29: #91972a;
  --palette-tral-warm-green-30: #91972a;
  --palette-tral-warm-green-31: #8c9229;
  --palette-tral-warm-green-32: #878c27;
  --palette-tral-warm-green-33: #828726;
  --palette-tral-warm-green-34: #7d8224;
  --palette-tral-warm-green-35: #777c23;
  --palette-tral-warm-green-36: #727721;
  --palette-tral-warm-green-37: #6d7220;
  --palette-tral-warm-green-38: #686c1e;
  --palette-tral-warm-green-39: #63671d;
  --palette-tral-warm-green-40: #5e621b;
  --palette-tral-warm-green-41: #595c1a;
  --palette-tral-warm-green-42: #545718;
  --palette-tral-warm-green-43: #4e5217;
  --palette-tral-warm-green-44: #494c15;
  --palette-tral-warm-green-45: #444714;
  --palette-tral-warm-green-46: #3f4212;
  --palette-tral-warm-green-47: #3a3c11;
  --palette-tral-warm-green-48: #35370f;
  --palette-tral-warm-green-49: #30320e;
  --palette-tral-warm-green-50: #2b2c0c;
  --palette-tral-warm-green-51: #26270b;
  --palette-tral-warm-green-52: #202209;
  --palette-tral-warm-green-53: #1b1c08;
  --palette-tral-warm-green-54: #161706;
  --palette-tral-warm-green-55: #111205;
  --palette-tral-warm-green-56: #0c0c03;
  --palette-tral-warm-green-57: #070702;
  --palette-tral-warm-green-58: #020200;
  --palette-tral-warm-green-59: #030401;
  --palette-tral-light-purple-1: #fdfdfd;
  --palette-tral-light-purple-2: #f9f6f8;
  --palette-tral-light-purple-3: #f4f0f3;
  --palette-tral-light-purple-4: #efe9ed;
  --palette-tral-light-purple-5: #eae3e8;
  --palette-tral-light-purple-6: #e5dce3;
  --palette-tral-light-purple-7: #e0d6dd;
  --palette-tral-light-purple-8: #dbcfd8;
  --palette-tral-light-purple-9: #d6c9d3;
  --palette-tral-light-purple-10: #d2c2cd;
  --palette-tral-light-purple-11: #cdbcc8;
  --palette-tral-light-purple-12: #c8b5c3;
  --palette-tral-light-purple-13: #c3aebd;
  --palette-tral-light-purple-14: #bea8b8;
  --palette-tral-light-purple-15: #b9a1b3;
  --palette-tral-light-purple-16: #b49bad;
  --palette-tral-light-purple-17: #af94a8;
  --palette-tral-light-purple-18: #ab8ea3;
  --palette-tral-light-purple-19: #a6879d;
  --palette-tral-light-purple-20: #a18198;
  --palette-tral-light-purple-21: #9c7a93;
  --palette-tral-light-purple-22: #97748d;
  --palette-tral-light-purple-23: #926d88;
  --palette-tral-light-purple-24: #8d6783;
  --palette-tral-light-purple-25: #88607d;
  --palette-tral-light-purple-26: #845a78;
  --palette-tral-light-purple-27: #7f5373;
  --palette-tral-light-purple-28: #7a4d6d;
  --palette-tral-light-purple-29: #754668;
  --palette-tral-light-purple-30: #754668;
  --palette-tral-light-purple-31: #714464;
  --palette-tral-light-purple-32: #6d4161;
  --palette-tral-light-purple-33: #693f5d;
  --palette-tral-light-purple-34: #643c59;
  --palette-tral-light-purple-35: #603a56;
  --palette-tral-light-purple-36: #5c3752;
  --palette-tral-light-purple-37: #58354e;
  --palette-tral-light-purple-38: #54324b;
  --palette-tral-light-purple-39: #503047;
  --palette-tral-light-purple-40: #4c2d43;
  --palette-tral-light-purple-41: #482b40;
  --palette-tral-light-purple-42: #43283c;
  --palette-tral-light-purple-43: #3f2638;
  --palette-tral-light-purple-44: #3b2335;
  --palette-tral-light-purple-45: #372131;
  --palette-tral-light-purple-46: #331e2d;
  --palette-tral-light-purple-47: #2f1c2a;
  --palette-tral-light-purple-48: #2b1a26;
  --palette-tral-light-purple-49: #271722;
  --palette-tral-light-purple-50: #22151f;
  --palette-tral-light-purple-51: #1e121b;
  --palette-tral-light-purple-52: #1a1017;
  --palette-tral-light-purple-53: #160d14;
  --palette-tral-light-purple-54: #120b10;
  --palette-tral-light-purple-55: #0e080c;
  --palette-tral-light-purple-56: #0a0609;
  --palette-tral-light-purple-57: #060305;
  --palette-tral-light-purple-58: #010101;
  --palette-tral-light-purple-59: #030202;
  --palette-tral-deep-purple-1: #fcfcfd;
  --palette-tral-deep-purple-2: #f5f4f5;
  --palette-tral-deep-purple-3: #edebee;
  --palette-tral-deep-purple-4: #e6e3e6;
  --palette-tral-deep-purple-5: #dedbdf;
  --palette-tral-deep-purple-6: #d7d2d7;
  --palette-tral-deep-purple-7: #cfcad0;
  --palette-tral-deep-purple-8: #c7c1c8;
  --palette-tral-deep-purple-9: #c0b9c1;
  --palette-tral-deep-purple-10: #b8b1b9;
  --palette-tral-deep-purple-11: #b1a8b2;
  --palette-tral-deep-purple-12: #a9a0aa;
  --palette-tral-deep-purple-13: #a197a3;
  --palette-tral-deep-purple-14: #9a8f9b;
  --palette-tral-deep-purple-15: #928794;
  --palette-tral-deep-purple-16: #8b7e8c;
  --palette-tral-deep-purple-17: #837685;
  --palette-tral-deep-purple-18: #7b6d7d;
  --palette-tral-deep-purple-19: #746576;
  --palette-tral-deep-purple-20: #6c5d6e;
  --palette-tral-deep-purple-21: #655467;
  --palette-tral-deep-purple-22: #5d4c5f;
  --palette-tral-deep-purple-23: #564358;
  --palette-tral-deep-purple-24: #4e3b50;
  --palette-tral-deep-purple-25: #463349;
  --palette-tral-deep-purple-26: #3f2a41;
  --palette-tral-deep-purple-27: #37223a;
  --palette-tral-deep-purple-28: #301932;
  --palette-tral-deep-purple-29: #28112b;
  --palette-tral-deep-purple-30: #28112b;
  --palette-tral-deep-purple-31: #271029;
  --palette-tral-deep-purple-32: #251028;
  --palette-tral-deep-purple-33: #240f26;
  --palette-tral-deep-purple-34: #220f25;
  --palette-tral-deep-purple-35: #210e23;
  --palette-tral-deep-purple-36: #200d22;
  --palette-tral-deep-purple-37: #1e0d20;
  --palette-tral-deep-purple-38: #1d0c1f;
  --palette-tral-deep-purple-39: #1b0c1d;
  --palette-tral-deep-purple-40: #1a0b1c;
  --palette-tral-deep-purple-41: #180a1a;
  --palette-tral-deep-purple-42: #170a19;
  --palette-tral-deep-purple-43: #160917;
  --palette-tral-deep-purple-44: #140916;
  --palette-tral-deep-purple-45: #130814;
  --palette-tral-deep-purple-46: #110713;
  --palette-tral-deep-purple-47: #100711;
  --palette-tral-deep-purple-48: #0f0610;
  --palette-tral-deep-purple-49: #0d060e;
  --palette-tral-deep-purple-50: #0c050d;
  --palette-tral-deep-purple-51: #0a040b;
  --palette-tral-deep-purple-52: #09040a;
  --palette-tral-deep-purple-53: #080308;
  --palette-tral-deep-purple-54: #060307;
  --palette-tral-deep-purple-55: #050205;
  --palette-tral-deep-purple-56: #030104;
  --palette-tral-deep-purple-57: #020102;
  --palette-tral-deep-purple-58: #000001;
  --palette-tral-deep-purple-59: #010001;
  --palette-tral-deep-blue-1: #fcfdfd;
  --palette-tral-deep-blue-2: #f4f6f7;
  --palette-tral-deep-blue-3: #ebf0f1;
  --palette-tral-deep-blue-4: #e3e9eb;
  --palette-tral-deep-blue-5: #dbe3e6;
  --palette-tral-deep-blue-6: #d2dce0;
  --palette-tral-deep-blue-7: #cad5da;
  --palette-tral-deep-blue-8: #c2cfd4;
  --palette-tral-deep-blue-9: #b9c8ce;
  --palette-tral-deep-blue-10: #b1c2c8;
  --palette-tral-deep-blue-11: #a9bbc2;
  --palette-tral-deep-blue-12: #a0b5bd;
  --palette-tral-deep-blue-13: #98aeb7;
  --palette-tral-deep-blue-14: #8fa7b1;
  --palette-tral-deep-blue-15: #87a1ab;
  --palette-tral-deep-blue-16: #7f9aa5;
  --palette-tral-deep-blue-17: #76949f;
  --palette-tral-deep-blue-18: #6e8d99;
  --palette-tral-deep-blue-19: #668794;
  --palette-tral-deep-blue-20: #5d808e;
  --palette-tral-deep-blue-21: #557a88;
  --palette-tral-deep-blue-22: #4d7382;
  --palette-tral-deep-blue-23: #446c7c;
  --palette-tral-deep-blue-24: #3c6676;
  --palette-tral-deep-blue-25: #335f70;
  --palette-tral-deep-blue-26: #2b596b;
  --palette-tral-deep-blue-27: #235265;
  --palette-tral-deep-blue-28: #1a4c5f;
  --palette-tral-deep-blue-29: #124559;
  --palette-tral-deep-blue-30: #124559;
  --palette-tral-deep-blue-31: #114356;
  --palette-tral-deep-blue-32: #114053;
  --palette-tral-deep-blue-33: #103e50;
  --palette-tral-deep-blue-34: #0f3b4c;
  --palette-tral-deep-blue-35: #0f3949;
  --palette-tral-deep-blue-36: #0e3646;
  --palette-tral-deep-blue-37: #0e3443;
  --palette-tral-deep-blue-38: #0d3240;
  --palette-tral-deep-blue-39: #0c2f3d;
  --palette-tral-deep-blue-40: #0c2d3a;
  --palette-tral-deep-blue-41: #0b2a36;
  --palette-tral-deep-blue-42: #0a2833;
  --palette-tral-deep-blue-43: #0a2530;
  --palette-tral-deep-blue-44: #09232d;
  --palette-tral-deep-blue-45: #08202a;
  --palette-tral-deep-blue-46: #081e27;
  --palette-tral-deep-blue-47: #071c24;
  --palette-tral-deep-blue-48: #071920;
  --palette-tral-deep-blue-49: #06171d;
  --palette-tral-deep-blue-50: #05141a;
  --palette-tral-deep-blue-51: #051217;
  --palette-tral-deep-blue-52: #040f14;
  --palette-tral-deep-blue-53: #030d11;
  --palette-tral-deep-blue-54: #030b0e;
  --palette-tral-deep-blue-55: #02080a;
  --palette-tral-deep-blue-56: #010607;
  --palette-tral-deep-blue-57: #010304;
  --palette-tral-deep-blue-58: #000101;
  --palette-tral-deep-blue-59: #000202;
  --palette-tral-light-green-1: #ffffff;
  --palette-tral-light-green-2: #fffffe;
  --palette-tral-light-green-3: #fefffd;
  --palette-tral-light-green-4: #fefffc;
  --palette-tral-light-green-5: #fefffb;
  --palette-tral-light-green-6: #fefffa;
  --palette-tral-light-green-7: #fdfff9;
  --palette-tral-light-green-8: #fdfff8;
  --palette-tral-light-green-9: #fdfff7;
  --palette-tral-light-green-10: #fdfff6;
  --palette-tral-light-green-11: #fcfff6;
  --palette-tral-light-green-12: #fcfff5;
  --palette-tral-light-green-13: #fcfff4;
  --palette-tral-light-green-14: #fcfff3;
  --palette-tral-light-green-15: #fbfff2;
  --palette-tral-light-green-16: #fbfff1;
  --palette-tral-light-green-17: #fbfff0;
  --palette-tral-light-green-18: #fbffef;
  --palette-tral-light-green-19: #faffee;
  --palette-tral-light-green-20: #faffed;
  --palette-tral-light-green-21: #faffec;
  --palette-tral-light-green-22: #faffeb;
  --palette-tral-light-green-23: #f9ffeb;
  --palette-tral-light-green-24: #f9ffea;
  --palette-tral-light-green-25: #f9ffe9;
  --palette-tral-light-green-26: #f9ffe8;
  --palette-tral-light-green-27: #f8ffe7;
  --palette-tral-light-green-28: #f8ffe6;
  --palette-tral-light-green-29: #f8ffe5;
  --palette-tral-light-green-30: #f8ffe5;
  --palette-tral-light-green-31: #eff6dd;
  --palette-tral-light-green-32: #e6edd5;
  --palette-tral-light-green-33: #dee4cd;
  --palette-tral-light-green-34: #d5dbc5;
  --palette-tral-light-green-35: #ccd2bd;
  --palette-tral-light-green-36: #c3c9b5;
  --palette-tral-light-green-37: #bbc0ac;
  --palette-tral-light-green-38: #b2b7a4;
  --palette-tral-light-green-39: #a9ae9c;
  --palette-tral-light-green-40: #a0a594;
  --palette-tral-light-green-41: #989c8c;
  --palette-tral-light-green-42: #8f9384;
  --palette-tral-light-green-43: #868a7c;
  --palette-tral-light-green-44: #7d8174;
  --palette-tral-light-green-45: #75786c;
  --palette-tral-light-green-46: #6c6f64;
  --palette-tral-light-green-47: #63665c;
  --palette-tral-light-green-48: #5a5d54;
  --palette-tral-light-green-49: #52544b;
  --palette-tral-light-green-50: #494b43;
  --palette-tral-light-green-51: #40423b;
  --palette-tral-light-green-52: #373933;
  --palette-tral-light-green-53: #2f302b;
  --palette-tral-light-green-54: #262723;
  --palette-tral-light-green-55: #1d1e1b;
  --palette-tral-light-green-56: #141513;
  --palette-tral-light-green-57: #0c0c0b;
  --palette-tral-light-green-58: #030303;
  --palette-tral-light-green-59: #060605;
  --palette-tral-green-1: #fcfffe;
  --palette-tral-green-2: #f3fdfb;
  --palette-tral-green-3: #eafcf7;
  --palette-tral-green-4: #e2faf4;
  --palette-tral-green-5: #d9f9f0;
  --palette-tral-green-6: #d0f7ed;
  --palette-tral-green-7: #c7f6ea;
  --palette-tral-green-8: #bff4e6;
  --palette-tral-green-9: #b6f3e3;
  --palette-tral-green-10: #adf1e0;
  --palette-tral-green-11: #a4f0dc;
  --palette-tral-green-12: #9befd9;
  --palette-tral-green-13: #93edd6;
  --palette-tral-green-14: #8aecd2;
  --palette-tral-green-15: #81eacf;
  --palette-tral-green-16: #78e9cc;
  --palette-tral-green-17: #6fe7c8;
  --palette-tral-green-18: #67e6c5;
  --palette-tral-green-19: #5ee4c2;
  --palette-tral-green-20: #55e3be;
  --palette-tral-green-21: #4ce2bb;
  --palette-tral-green-22: #44e0b7;
  --palette-tral-green-23: #3bdfb4;
  --palette-tral-green-24: #32ddb1;
  --palette-tral-green-25: #29dcad;
  --palette-tral-green-26: #20daaa;
  --palette-tral-green-27: #18d9a7;
  --palette-tral-green-28: #0fd7a3;
  --palette-tral-green-29: #06d6a0;
  --palette-tral-green-30: #06d6a0;
  --palette-tral-green-31: #06ce9a;
  --palette-tral-green-32: #06c795;
  --palette-tral-green-33: #05bf8f;
  --palette-tral-green-34: #05b889;
  --palette-tral-green-35: #05b084;
  --palette-tral-green-36: #05a97e;
  --palette-tral-green-37: #05a178;
  --palette-tral-green-38: #049a73;
  --palette-tral-green-39: #04926d;
  --palette-tral-green-40: #048a68;
  --palette-tral-green-41: #048362;
  --palette-tral-green-42: #037b5c;
  --palette-tral-green-43: #037457;
  --palette-tral-green-44: #036c51;
  --palette-tral-green-45: #03654b;
  --palette-tral-green-46: #035d46;
  --palette-tral-green-47: #025640;
  --palette-tral-green-48: #024e3a;
  --palette-tral-green-49: #024635;
  --palette-tral-green-50: #023f2f;
  --palette-tral-green-51: #023729;
  --palette-tral-green-52: #013024;
  --palette-tral-green-53: #01281e;
  --palette-tral-green-54: #012118;
  --palette-tral-green-55: #011913;
  --palette-tral-green-56: #00120d;
  --palette-tral-green-57: #000a08;
  --palette-tral-green-58: #000302;
  --palette-tral-green-59: #000504;
  --palette-tral-yellow-1: #fffefd;
  --palette-tral-yellow-2: #fffcf6;
  --palette-tral-yellow-3: #fffaef;
  --palette-tral-yellow-4: #fff8e8;
  --palette-tral-yellow-5: #fff6e1;
  --palette-tral-yellow-6: #fff4da;
  --palette-tral-yellow-7: #fff2d4;
  --palette-tral-yellow-8: #fff0cd;
  --palette-tral-yellow-9: #ffeec6;
  --palette-tral-yellow-10: #ffecbf;
  --palette-tral-yellow-11: #ffe9b8;
  --palette-tral-yellow-12: #ffe7b1;
  --palette-tral-yellow-13: #ffe5ab;
  --palette-tral-yellow-14: #ffe3a4;
  --palette-tral-yellow-15: #ffe19d;
  --palette-tral-yellow-16: #ffdf96;
  --palette-tral-yellow-17: #ffdd8f;
  --palette-tral-yellow-18: #ffdb88;
  --palette-tral-yellow-19: #ffd981;
  --palette-tral-yellow-20: #ffd77b;
  --palette-tral-yellow-21: #ffd574;
  --palette-tral-yellow-22: #ffd36d;
  --palette-tral-yellow-23: #ffd066;
  --palette-tral-yellow-24: #ffce5f;
  --palette-tral-yellow-25: #ffcc58;
  --palette-tral-yellow-26: #ffca52;
  --palette-tral-yellow-27: #ffc84b;
  --palette-tral-yellow-28: #ffc644;
  --palette-tral-yellow-29: #ffc43d;
  --palette-tral-yellow-30: #ffc43d;
  --palette-tral-yellow-31: #f6bd3b;
  --palette-tral-yellow-32: #edb639;
  --palette-tral-yellow-33: #e4af37;
  --palette-tral-yellow-34: #dba834;
  --palette-tral-yellow-35: #d2a132;
  --palette-tral-yellow-36: #c99a30;
  --palette-tral-yellow-37: #c0942e;
  --palette-tral-yellow-38: #b78d2c;
  --palette-tral-yellow-39: #ae862a;
  --palette-tral-yellow-40: #a57f27;
  --palette-tral-yellow-41: #9c7825;
  --palette-tral-yellow-42: #937123;
  --palette-tral-yellow-43: #8a6a21;
  --palette-tral-yellow-44: #81631f;
  --palette-tral-yellow-45: #785c1d;
  --palette-tral-yellow-46: #6f551b;
  --palette-tral-yellow-47: #664e18;
  --palette-tral-yellow-48: #5d4716;
  --palette-tral-yellow-49: #544114;
  --palette-tral-yellow-50: #4b3a12;
  --palette-tral-yellow-51: #423310;
  --palette-tral-yellow-52: #392c0e;
  --palette-tral-yellow-53: #30250b;
  --palette-tral-yellow-54: #271e09;
  --palette-tral-yellow-55: #1e1707;
  --palette-tral-yellow-56: #151005;
  --palette-tral-yellow-57: #0c0903;
  --palette-tral-yellow-58: #030201;
  --palette-tral-yellow-59: #060501;
  --palette-tral-pink-1: #fffdfd;
  --palette-tral-pink-2: #fef6f8;
  --palette-tral-pink-3: #fef0f3;
  --palette-tral-pink-4: #fde9ee;
  --palette-tral-pink-5: #fde3e9;
  --palette-tral-pink-6: #fcdce4;
  --palette-tral-pink-7: #fbd6df;
  --palette-tral-pink-8: #fbcfda;
  --palette-tral-pink-9: #fac9d5;
  --palette-tral-pink-10: #fac2d0;
  --palette-tral-pink-11: #f9bcca;
  --palette-tral-pink-12: #f9b5c5;
  --palette-tral-pink-13: #f8afc0;
  --palette-tral-pink-14: #f7a8bb;
  --palette-tral-pink-15: #f7a2b6;
  --palette-tral-pink-16: #f69bb1;
  --palette-tral-pink-17: #f695ac;
  --palette-tral-pink-18: #f58ea7;
  --palette-tral-pink-19: #f588a2;
  --palette-tral-pink-20: #f4819d;
  --palette-tral-pink-21: #f47b98;
  --palette-tral-pink-22: #f37493;
  --palette-tral-pink-23: #f26e8d;
  --palette-tral-pink-24: #f26788;
  --palette-tral-pink-25: #f16183;
  --palette-tral-pink-26: #f15a7e;
  --palette-tral-pink-27: #f05479;
  --palette-tral-pink-28: #f04d74;
  --palette-tral-pink-29: #ef476f;
  --palette-tral-pink-30: #ef476f;
  --palette-tral-pink-31: #e7446b;
  --palette-tral-pink-32: #de4267;
  --palette-tral-pink-33: #d63f63;
  --palette-tral-pink-34: #cd3d5f;
  --palette-tral-pink-35: #c53a5b;
  --palette-tral-pink-36: #bc3857;
  --palette-tral-pink-37: #b43554;
  --palette-tral-pink-38: #ac3350;
  --palette-tral-pink-39: #a3304c;
  --palette-tral-pink-40: #9b2e48;
  --palette-tral-pink-41: #922b44;
  --palette-tral-pink-42: #8a2940;
  --palette-tral-pink-43: #81263c;
  --palette-tral-pink-44: #792438;
  --palette-tral-pink-45: #702134;
  --palette-tral-pink-46: #681f30;
  --palette-tral-pink-47: #601c2c;
  --palette-tral-pink-48: #571a28;
  --palette-tral-pink-49: #4f1725;
  --palette-tral-pink-50: #461521;
  --palette-tral-pink-51: #3e121d;
  --palette-tral-pink-52: #351019;
  --palette-tral-pink-53: #2d0d15;
  --palette-tral-pink-54: #250b11;
  --palette-tral-pink-55: #1c080d;
  --palette-tral-pink-56: #140609;
  --palette-tral-pink-57: #0b0305;
  --palette-tral-pink-58: #030101;
  --palette-tral-pink-59: #060203;
  --palette-tral-primary-1: #fcfefe;
  --palette-tral-primary-2: #f4fafb;
  --palette-tral-primary-3: #ecf7f8;
  --palette-tral-primary-4: #e4f3f5;
  --palette-tral-primary-5: #dcf0f2;
  --palette-tral-primary-6: #d4ecef;
  --palette-tral-primary-7: #cce8ec;
  --palette-tral-primary-8: #c4e5e9;
  --palette-tral-primary-9: #bce1e6;
  --palette-tral-primary-10: #b4dee3;
  --palette-tral-primary-11: #acdae0;
  --palette-tral-primary-12: #a4d7dd;
  --palette-tral-primary-13: #9cd3da;
  --palette-tral-primary-14: #94cfd7;
  --palette-tral-primary-15: #8cccd4;
  --palette-tral-primary-16: #84c8d1;
  --palette-tral-primary-17: #7cc5ce;
  --palette-tral-primary-18: #74c1cb;
  --palette-tral-primary-19: #6bbec8;
  --palette-tral-primary-20: #63bac5;
  --palette-tral-primary-21: #5bb7c2;
  --palette-tral-primary-22: #53b3bf;
  --palette-tral-primary-23: #4bafbc;
  --palette-tral-primary-24: #43acb9;
  --palette-tral-primary-25: #3ba8b6;
  --palette-tral-primary-26: #33a5b3;
  --palette-tral-primary-27: #2ba1b0;
  --palette-tral-primary-28: #239ead;
  --palette-tral-primary-29: #1b9aaa;
  --palette-tral-primary-30: #1b9aaa;
  --palette-tral-primary-31: #1a95a4;
  --palette-tral-primary-32: #198f9e;
  --palette-tral-primary-33: #188a98;
  --palette-tral-primary-34: #178492;
  --palette-tral-primary-35: #167f8c;
  --palette-tral-primary-36: #157986;
  --palette-tral-primary-37: #147480;
  --palette-tral-primary-38: #136f7a;
  --palette-tral-primary-39: #126974;
  --palette-tral-primary-40: #11646e;
  --palette-tral-primary-41: #115e68;
  --palette-tral-primary-42: #105962;
  --palette-tral-primary-43: #0f535c;
  --palette-tral-primary-44: #0e4e56;
  --palette-tral-primary-45: #0d4850;
  --palette-tral-primary-46: #0c434a;
  --palette-tral-primary-47: #0b3e44;
  --palette-tral-primary-48: #0a383e;
  --palette-tral-primary-49: #093338;
  --palette-tral-primary-50: #082d32;
  --palette-tral-primary-51: #07282c;
  --palette-tral-primary-52: #062226;
  --palette-tral-primary-53: #051d20;
  --palette-tral-primary-54: #04181a;
  --palette-tral-primary-55: #031214;
  --palette-tral-primary-56: #020d0e;
  --palette-tral-primary-57: #010708;
  --palette-tral-primary-58: #000202;
  --palette-tral-primary-59: #010404;
      }