.global-theme {
          --global-white: #ffffff;
  --global-black: #27303f;
  --global-success: #0e9f6e;
  --global-error: #d03801;
  --global-gray-1: #fbfdfe;
  --global-gray-2: #f1f5f9;
  --global-gray-3: #e2e8f0;
  --global-gray-4: #cfd8e3;
  --global-gray-5: #97a6ba;
  --global-gray-6: #64748b;
  --global-gray-7: #475569;
  --global-gray-8: #364152;
  --global-gray-9: #27303f;
  --global-gray-10: #252b38;
  --colors-brand-10: #e6f3f5;
  --colors-brand-20: #cce7ea;
  --colors-brand-30: #b3dbe0;
  --colors-brand-40: #99cfd5;
  --colors-brand-50: #80c3cb;
  --colors-brand-60: #66b6c1;
  --colors-brand-70: #4daab6;
  --colors-brand-80: #339eac;
  --colors-brand-90: #1992a1;
  --colors-brand-100: #008697;
  --colors-brand-110: #007988;
  --colors-brand-120: #006b79;
  --colors-brand-130: #005e6a;
  --colors-brand-140: #00505b;
  --colors-brand-150: #00434c;
  --colors-brand-160: #00363c;
  --colors-orange-50: #fff8f1;
  --colors-orange-100: #feecdc;
  --colors-orange-200: #fcd9bd;
  --colors-orange-300: #fdba8c;
  --colors-orange-400: #ff8a4c;
  --colors-orange-500: #ff5a1f;
  --colors-orange-600: #d03801;
  --colors-orange-700: #b43403;
  --colors-orange-800: #8a2c0d;
  --colors-orange-900: #771d1d;
  --colors-red-50: #fdf2f2;
  --colors-red-100: #fde8e8;
  --colors-red-200: #fbd5d5;
  --colors-red-300: #f8b4b4;
  --colors-red-400: #f98080;
  --colors-red-500: #f05252;
  --colors-red-600: #e02424;
  --colors-red-700: #c81e1e;
  --colors-red-800: #9b1c1c;
  --colors-red-900: #771d1d;
  --colors-cool-gray-50: #fbfdfe;
  --colors-cool-gray-100: #f1f5f9;
  --colors-cool-gray-200: #e2e8f0;
  --colors-cool-gray-300: #cfd8e3;
  --colors-cool-gray-400: #97a6ba;
  --colors-cool-gray-500: #64748b;
  --colors-cool-gray-600: #475569;
  --colors-cool-gray-700: #364152;
  --colors-cool-gray-800: #27303f;
  --colors-cool-gray-850: #252b38;
  --colors-cool-gray-900: #1A202E;
  --colors-gray-50: #f9fafb;
  --colors-gray-100: #f4f5f7;
  --colors-gray-200: #e5e7eb;
  --colors-gray-300: #d2d6dc;
  --colors-gray-400: #9fa6b2;
  --colors-gray-500: #6b7280;
  --colors-gray-600: #4b5563;
  --colors-gray-700: #374151;
  --colors-gray-800: #252f3f;
  --colors-gray-900: #161e2e;
  --colors-purple-50: #f6f5ff;
  --colors-purple-100: #edebfe;
  --colors-purple-200: #dcd7fe;
  --colors-purple-300: #cabffd;
  --colors-purple-400: #ac94fa;
  --colors-purple-500: #9061f9;
  --colors-purple-600: #7e3af2;
  --colors-purple-700: #6c2bd9;
  --colors-purple-800: #5521b5;
  --colors-purple-900: #4a1d96;
  --colors-indigo-50: #f0f5ff;
  --colors-indigo-100: #e5edff;
  --colors-indigo-200: #cddbfe;
  --colors-indigo-300: #b4c6fc;
  --colors-indigo-400: #8da2fb;
  --colors-indigo-500: #6875f5;
  --colors-indigo-600: #5850ec;
  --colors-indigo-700: #5145cd;
  --colors-indigo-800: #42389d;
  --colors-indigo-900: #362f78;
  --colors-blue-50: #ebf5ff;
  --colors-blue-100: #e1effe;
  --colors-blue-200: #c3ddfd;
  --colors-blue-300: #a4cafe;
  --colors-blue-400: #76a9fa;
  --colors-blue-500: #3f83f8;
  --colors-blue-600: #1c64f2;
  --colors-blue-700: #1a56db;
  --colors-blue-800: #1e429f;
  --colors-blue-900: #233876;
  --colors-teal-50: #edfafa;
  --colors-teal-100: #d5f5f6;
  --colors-teal-200: #afecef;
  --colors-teal-300: #7edce2;
  --colors-teal-400: #16bdca;
  --colors-teal-500: #0694a2;
  --colors-teal-600: #047481;
  --colors-teal-700: #036672;
  --colors-teal-800: #05505c;
  --colors-teal-900: #014451;
  --colors-green-50: #f3faf7;
  --colors-green-100: #def7ec;
  --colors-green-200: #bcf0da;
  --colors-green-300: #84e1bc;
  --colors-green-400: #31c48d;
  --colors-green-500: #0e9f6e;
  --colors-green-600: #057a55;
  --colors-green-700: #046c4e;
  --colors-green-800: #03543f;
  --colors-green-900: #014737;
  --colors-yellow-50: #fdfdea;
  --colors-yellow-100: #fdf6b2;
  --colors-yellow-200: #fce96a;
  --colors-yellow-300: #faca15;
  --colors-yellow-400: #e3a008;
  --colors-yellow-500: #c27803;
  --colors-yellow-600: #9f580a;
  --colors-yellow-700: #8e4b10;
  --colors-yellow-800: #723b13;
  --colors-yellow-900: #633112;
  --colors-pink-50: #fdf2f8;
  --colors-pink-100: #fce8f3;
  --colors-pink-200: #fad1e8;
  --colors-pink-300: #f8b4d9;
  --colors-pink-400: #f17eb8;
  --colors-pink-500: #e74694;
  --colors-pink-600: #d61f69;
  --colors-pink-700: #bf125d;
  --colors-pink-800: #99154b;
  --colors-pink-900: #751a3d;
  --colors-pink-v1-10: #fee9f3;
  --colors-pink-v1-20: #fdd3e7;
  --colors-pink-v1-30: #fdbeda;
  --colors-pink-v1-40: #fca8ce;
  --colors-pink-v1-50: #fb92c2;
  --colors-pink-v1-60: #fa7cb6;
  --colors-pink-v1-70: #f966aa;
  --colors-pink-v1-80: #f9519d;
  --colors-pink-v1-90: #f83b91;
  --colors-pink-v1-100: #f72585;
  --colors-pink-v1-110: #de2178;
  --colors-pink-v1-120: #c61e6a;
  --colors-pink-v1-130: #ad1a5d;
  --colors-pink-v1-140: #941650;
  --colors-pink-v1-150: #7c1343;
  --colors-pink-v1-160: #630f35;
  --colors-pink-v1-170: #4a0b28;
  --colors-pink-v1-180: #31071b;
  --colors-pink-v1-190: #19040d;
  --colors-pink-v1-200: #000000;
  --colors-pink-v1-210: #1a202e;
  --colors-violet-v1-10: #f1e6f8;
  --colors-violet-v1-20: #e3cef1;
  --colors-violet-v1-30: #d5b5e9;
  --colors-violet-v1-40: #c79de2;
  --colors-violet-v1-50: #b984db;
  --colors-violet-v1-60: #aa6bd4;
  --colors-violet-v1-70: #9c53cd;
  --colors-violet-v1-80: #8e3ac5;
  --colors-violet-v1-90: #8022be;
  --colors-violet-v1-100: #7209b7;
  --colors-violet-v1-110: #6708a5;
  --colors-violet-v1-120: #5b0792;
  --colors-violet-v1-130: #500680;
  --colors-violet-v1-140: #44056e;
  --colors-violet-v1-150: #39055c;
  --colors-violet-v1-160: #2e0449;
  --colors-violet-v1-170: #220337;
  --colors-violet-v1-180: #170225;
  --colors-violet-v1-190: #0b0112;
  --colors-violet-v1-200: #000000;
  --colors-trypan-blue-10: #ebe7f6;
  --colors-trypan-blue-20: #d8ceed;
  --colors-trypan-blue-30: #c4b6e3;
  --colors-trypan-blue-40: #b09eda;
  --colors-trypan-blue-50: #9d86d1;
  --colors-trypan-blue-60: #896dc8;
  --colors-trypan-blue-70: #7555bf;
  --colors-trypan-blue-80: #613db5;
  --colors-trypan-blue-90: #4e24ac;
  --colors-trypan-blue-100: #3a0ca3;
  --colors-trypan-blue-110: #340b93;
  --colors-trypan-blue-120: #2e0a82;
  --colors-trypan-blue-130: #290872;
  --colors-trypan-blue-140: #230762;
  --colors-trypan-blue-150: #1d0652;
  --colors-trypan-blue-160: #170541;
  --colors-trypan-blue-170: #110431;
  --colors-trypan-blue-180: #0c0221;
  --colors-trypan-blue-190: #060110;
  --colors-trypan-blue-200: #000000;
  --colors-trypan-blue-210: #000000;
  --colors-ultramarine-blue-10: #eceffd;
  --colors-ultramarine-blue-20: #d9dffc;
  --colors-ultramarine-blue-30: #c7d0fa;
  --colors-ultramarine-blue-40: #b4c0f8;
  --colors-ultramarine-blue-50: #a1b0f7;
  --colors-ultramarine-blue-60: #8ea0f5;
  --colors-ultramarine-blue-70: #7b90f3;
  --colors-ultramarine-blue-80: #6981f1;
  --colors-ultramarine-blue-90: #5671f0;
  --colors-ultramarine-blue-100: #4361ee;
  --colors-ultramarine-blue-110: #3c57d6;
  --colors-ultramarine-blue-120: #364ebe;
  --colors-ultramarine-blue-130: #2f44a7;
  --colors-ultramarine-blue-140: #283a8f;
  --colors-ultramarine-blue-150: #223177;
  --colors-ultramarine-blue-160: #1b275f;
  --colors-ultramarine-blue-170: #141d47;
  --colors-ultramarine-blue-180: #0d1330;
  --colors-ultramarine-blue-190: #070a18;
  --colors-ultramarine-blue-200: #000000;
  --colors-ultramarine-blue-210: #000000;
  --basic: 2;
  --font-families-base: Inter;
  --font-families-headline: Montserrat;
  --line-heights-0: 120%;
  --font-weights-regular: Regular;
  --font-weights-medium: Medium;
  --font-weights-semibold: SemiBold;
  --font-weights-bold: Bold;
  --font-size-11px: 11;
  --font-size-12px: 12;
  --font-size-14px: 14;
  --font-size-16px: 16;
  --font-size-18px: 18;
  --font-size-20px: 20;
  --font-size-22px: 22;
  --font-size-25px: 25;
  --font-size-28px: 28;
  --letter-spacing-0: 0%;
  --paragraph-spacing-0: 0;
  --text-caption-xxs: [object Object];
  --text-caption-xs: [object Object];
  --text-caption-s: [object Object];
  --text-label: [object Object];
  --text-placeholder: [object Object];
  --text-inter-regular-11px: [object Object];
  --text-inter-regular-12px: [object Object];
  --text-inter-regular-14px: [object Object];
  --text-inter-regular-16px: [object Object];
  --text-inter-regular-18px: [object Object];
  --text-inter-regular-20px: [object Object];
  --text-inter-regular-22px: [object Object];
  --text-inter-regular-25px: [object Object];
  --text-inter-medium-11px: [object Object];
  --text-inter-medium-12px: [object Object];
  --text-inter-medium-14px: [object Object];
  --text-inter-medium-16px: [object Object];
  --text-inter-medium-18px: [object Object];
  --text-inter-medium-20px: [object Object];
  --text-inter-medium-22px: [object Object];
  --text-inter-medium-25px: [object Object];
  --text-inter-semibold-11px: [object Object];
  --text-inter-semibold-12px: [object Object];
  --text-inter-semibold-14px: [object Object];
  --text-inter-semibold-16px: [object Object];
  --text-inter-semibold-18px: [object Object];
  --text-inter-semibold-20px: [object Object];
  --text-inter-semibold-22px: [object Object];
  --text-inter-semibold-25px: [object Object];
  --headline-h6: [object Object];
  --headline-h5: [object Object];
  --headline-h4: [object Object];
  --headline-h3: [object Object];
  --headline-h2: [object Object];
  --headline-h1: [object Object];
  --text-case-none: none;
  --text-decoration-none: none;
      }