.light-theme {
          --accent: #008697;
  --fg-default: #27303f;
  --fg-muted: #97a6ba;
  --fg-accent: #008697;
  --bg-default: #ffffff;
  --bg-muted: #fbfdfe;
  --bg-gray: #f1f5f9;
  --bg-accent: #008697;
  --text-on-dark: #27303f;
  --text-on-light: #ffffff;
  --text-default: #ffffff;
  --controls-close-on-black-standard: #00505b;
  --controls-close-on-black-hover: #ffffff;
  --controls-close-on-black-pressed: #80c3cb;
  --controls-close-on-black-disabled: #97a6ba;
  --controls-close-on-white-standard: #97a6ba;
  --controls-close-on-white-hover: #64748b;
  --controls-close-on-white-pressed: #475569;
  --controls-close-on-white-disabled: #cfd8e3;
  --stroke-dark: #27303f;
  --stroke-light: #cfd8e3;
  --stroke-accent: #008697;
  --button-background-primary-standard: #008697;
  --button-background-primary-hover: #339eac;
  --button-background-primary-pressed: #05505c;
  --button-background-primary-disabled: #b3dbe0;
  --button-background-secondary-standard: #f4f5f7;
  --button-background-secondary-hover: #e5e7eb;
  --button-background-secondary-pressed: #d2d6dc;
  --button-background-secondary-disabled: #e5e7eb;
  --button-background-selector-standard: #ffffff00;
  --button-background-selector-hover: #b3dbe0;
  --button-background-selector-pressed: #99cfd5;
  --button-background-selector-disabled: #e5e7eb;
  --button-background-collapse-horizontal-standard: #475569;
  --button-background-collapse-horizontal-hover: #97a6ba;
  --button-background-collapse-horizontal-pressed: #475569;
  --button-background-collapse-horizontal-disabled: #e2e8f0;
  --button-background-collapse-vertical-standard: #f1f5f9;
  --button-background-collapse-vertical-hover: #e2e8f0;
  --button-background-collapse-vertical-pressed: #cfd8e3;
  --button-background-collapse-vertical-disabled: #f1f5f9;
  --s: 4;
  --medium: 6;
  --large: 8;
  --tab-blank-active-standard: #27303f;
  --tab-blank-active-hover: #008697;
  --tab-blank-active-pressed: #05505c;
  --tab-blank-active-disabled: #97a6ba;
  --tab-blank-unactive-standard: #97a6ba;
  --tab-blank-unactive-hover: #008697;
  --tab-blank-unactive-pressed: #05505c;
  --tab-blank-unactive-disabled: #97a6ba;
  --tab-filled-active-standard: #339eac;
  --tab-filled-active-hover: #008697;
  --tab-filled-active-pressed: #005e6a;
  --tab-filled-active-disabled: #97a6ba;
  --tab-filled-unactive-standard: #f1f5f9;
  --tab-filled-unactive-hover: #e2e8f0;
  --tab-filled-unactive-pressed: #cfd8e3;
  --tab-filled-unactive-disabled: #fbfdfe;
  --tab-outlined-active-standard: #27303f;
  --tab-outlined-active-hover: #008697;
  --tab-outlined-active-pressed: #05505c;
  --tab-outlined-active-disabled: #97a6ba;
  --tab-outlined-unactive-standard: #97a6ba;
  --tab-outlined-unactive-hover: #008697;
  --tab-outlined-unactive-pressed: #05505c;
  --tab-outlined-unactive-disabled: #97a6ba;
  --input-background-standard: #ffffff;
  --input-background-hover: #e6f3f5;
  --input-background-pressed: #cce7ea;
  --input-background-disabled: #fbfdfe;
  --input-stroke-standard: #b3dbe0;
  --input-stroke-hover: #80c3cb;
  --input-stroke-pressed: #4daab6;
  --input-stroke-disabled: #e2e8f0;
  --dropdown-background-standard: #ffffff;
  --dropdown-background-hover: #e6f3f5;
  --dropdown-background-pressed: #cce7ea;
  --dropdown-background-disabled: #fbfdfe;
  --dropdown-stroke-standard: #b3dbe0;
  --dropdown-stroke-hover: #80c3cb;
  --dropdown-stroke-pressed: #4daab6;
  --dropdown-stroke-disabled: #e2e8f0;
  --checkbox-background-standard: #ffffff;
  --checkbox-background-hover: #e6f3f5;
  --checkbox-background-pressed: #cce7ea;
  --checkbox-background-disabled: #fbfdfe;
  --checkbox-background-checked: #008697;
  --checkbox-background-checked-hover: #4daab6;
  --checkbox-background-checked-disabled: #e2e8f0;
  --checkbox-stroke-standard: #008697;
  --checkbox-stroke-hover: #008697;
  --checkbox-stroke-pressed: #006b79;
  --checkbox-stroke-disabled: #e2e8f0;
  --radiobutton-background-standard: #ffffff;
  --radiobutton-background-hover: #e6f3f5;
  --radiobutton-background-pressed: #cce7ea;
  --radiobutton-background-disabled: #fbfdfe;
  --radiobutton-background-checked: #008697;
  --radiobutton-background-checked-hover: #4daab6;
  --radiobutton-background-checked-disabled: #e2e8f0;
  --radiobutton-stroke-standard: #b3dbe0;
  --radiobutton-stroke-hover: #80c3cb;
  --radiobutton-stroke-pressed: #4daab6;
  --radiobutton-stroke-disabled: #e2e8f0;
  --radiobutton-stroke-disabled-copy: #e2e8f0;
  --xs: 2;
  --xl: 32;
      }