.light-theme {
          --theme-accent: #008697;
  --theme-fg-default: #27303f;
  --theme-fg-muted: #97a6ba;
  --theme-fg-on-dark: #ffffff;
  --theme-fg-on-light: #27303f;
  --theme-fg-gray: #475569;
  --theme-bg-default: #ffffff;
  --theme-bg-muted: #f1f5f9;
  --theme-bg-gray: #f1f5f9;
  --theme-text-on-dark: #ffffff;
  --theme-text-on-light: #27303f;
  --theme-text-default: #ffffff;
  --theme-controls-close-on-black-standard: #27303f;
  --theme-controls-close-on-black-hover: #ffffff;
  --theme-controls-close-on-black-pressed: #80c3cb;
  --theme-controls-close-on-black-disabled: #97a6ba;
  --theme-controls-close-on-white-standard: #97a6ba;
  --theme-controls-close-on-white-hover: #64748b;
  --theme-controls-close-on-white-pressed: #475569;
  --theme-controls-close-on-white-disabled: #cfd8e3;
  --theme-stroke-dark: #27303f;
  --theme-stroke-light: #cfd8e3;
  --theme-stroke-accent: #008697;
  --theme-button-background-primary-standard: #008697;
  --theme-button-background-primary-hover: #339eac;
  --theme-button-background-primary-pressed: #05505c;
  --theme-button-background-primary-disabled: #f1f5f9;
  --theme-button-background-secondary-standard: #f1f5f9;
  --theme-button-background-secondary-hover: #e2e8f0;
  --theme-button-background-secondary-pressed: #cfd8e3;
  --theme-button-background-secondary-disabled: #f1f5f9;
  --theme-button-background-selector-standard: #f1f5f900;
  --theme-button-background-selector-hover: #e2e8f0;
  --theme-button-background-selector-pressed: #cfd8e3;
  --theme-button-background-selector-disabled: #f1f5f9;
  --theme-button-background-collapse-horizontal-standard: #475569;
  --theme-button-background-collapse-horizontal-hover: #97a6ba;
  --theme-button-background-collapse-horizontal-pressed: #475569;
  --theme-button-background-collapse-horizontal-disabled: #e2e8f0;
  --theme-button-background-collapse-vertical-standard: #f1f5f9;
  --theme-button-background-collapse-vertical-hover: #e2e8f0;
  --theme-button-background-collapse-vertical-pressed: #cfd8e3;
  --theme-button-background-collapse-vertical-disabled: #f1f5f9;
  --theme-s: 4;
  --theme-medium: 6;
  --theme-large: 8;
  --theme-tab-blank-active-standard: #27303f;
  --theme-tab-blank-active-hover: #475569;
  --theme-tab-blank-active-pressed: #27303f;
  --theme-tab-blank-active-disabled: #f1f5f9;
  --theme-tab-blank-unactive-standard: #97a6ba;
  --theme-tab-blank-unactive-hover: #27303f;
  --theme-tab-blank-unactive-pressed: #97a6ba;
  --theme-tab-blank-unactive-disabled: #f1f5f9;
  --theme-tab-filled-active-standard: #339eac;
  --theme-tab-filled-active-hover: #008697;
  --theme-tab-filled-active-pressed: #005e6a;
  --theme-tab-filled-active-disabled: #f1f5f9;
  --theme-tab-filled-unactive-standard: #f1f5f9;
  --theme-tab-filled-unactive-hover: #e2e8f0;
  --theme-tab-filled-unactive-pressed: #cfd8e3;
  --theme-tab-filled-unactive-disabled: #f1f5f9;
  --theme-tab-outlined-active-standard: #27303f;
  --theme-tab-outlined-active-hover: #008697;
  --theme-tab-outlined-active-pressed: #05505c;
  --theme-tab-outlined-active-disabled: #97a6ba;
  --theme-tab-outlined-unactive-standard: #97a6ba;
  --theme-tab-outlined-unactive-hover: #008697;
  --theme-tab-outlined-unactive-pressed: #05505c;
  --theme-tab-outlined-unactive-disabled: #97a6ba;
  --theme-input-background-standard: #f1f5f9;
  --theme-input-background-hover: #e2e8f0;
  --theme-input-background-pressed: #cfd8e3;
  --theme-input-background-disabled: #f1f5f9;
  --theme-input-background-active: #ffffff;
  --theme-input-background-focus: #ffffff;
  --theme-input-background-filled: #f1f5f9;
  --theme-input-stroke-standard: #b3dbe0;
  --theme-input-stroke-hover: #80c3cb;
  --theme-input-stroke-pressed: #4daab6;
  --theme-input-stroke-disabled: #e2e8f0;
  --theme-dropdown-background-standard: #f1f5f9;
  --theme-dropdown-background-hover: #e2e8f0;
  --theme-dropdown-background-pressed: #cfd8e3;
  --theme-dropdown-background-disabled: #f1f5f9;
  --theme-dropdown-background-active: #ffffff;
  --theme-dropdown-stroke-standard: #b3dbe0;
  --theme-dropdown-stroke-hover: #80c3cb;
  --theme-dropdown-stroke-pressed: #4daab6;
  --theme-dropdown-stroke-disabled: #e2e8f0;
  --theme-checkbox-background-standard: #e2e8f0;
  --theme-checkbox-background-hover: #cfd8e3;
  --theme-checkbox-background-pressed: #97a6ba;
  --theme-checkbox-background-disabled: #f1f5f9;
  --theme-checkbox-background-checked: #008697;
  --theme-checkbox-background-checked-hover: #4daab6;
  --theme-checkbox-background-checked-disabled: #f1f5f9;
  --theme-checkbox-stroke-standard: #008697;
  --theme-checkbox-stroke-hover: #008697;
  --theme-checkbox-stroke-pressed: #006b79;
  --theme-checkbox-stroke-disabled: #e2e8f0;
  --theme-radiobutton-background-standard: #e2e8f0;
  --theme-radiobutton-background-hover: #cfd8e3;
  --theme-radiobutton-background-pressed: #97a6ba;
  --theme-radiobutton-background-disabled: #f1f5f9;
  --theme-radiobutton-background-checked: #008697;
  --theme-radiobutton-background-checked-hover: #4daab6;
  --theme-radiobutton-background-checked-disabled: #f1f5f9;
  --theme-radiobutton-stroke-standard: #b3dbe0;
  --theme-radiobutton-stroke-hover: #80c3cb;
  --theme-radiobutton-stroke-pressed: #4daab6;
  --theme-radiobutton-stroke-disabled: #e2e8f0;
  --theme-radiobutton-stroke-disabled-copy: #e2e8f0;
  --theme-xs: 2;
  --theme-xl: 32;
  --theme-side-bar-background: #27303f;
  --theme-side-bar-button-standard: #f1f5f900;
  --theme-side-bar-button-hover: #ffffff;
  --theme-side-bar-button-pressed: #f1f5f9;
  --theme-side-bar-button-active: #008697;
  --theme-cloud-stroke: #e2e8f0;
  --input-focus: [object Object];
      }