.palette-1-theme {
          --theme-accent: #e74694;
  --theme-cloud-stroke: #cfd8e3;
  --theme-fg-default: #27303f;
  --theme-fg-muted: #cfd8e3;
  --theme-fg-on-dark: #ffffff;
  --theme-fg-on-light: #27303f;
  --theme-fg-gray: #475569;
  --theme-bg-default: #ffffff;
  --theme-bg-muted: #f1f5f9;
  --theme-bg-gray: #f1f5f9;
  --theme-text-on-dark: #ffffff;
  --theme-text-on-light: #27303f;
  --theme-text-default: #ffffff;
  --theme-controls-close-on-black-standard: #27303f;
  --theme-controls-close-on-black-hover: #ffffff;
  --theme-controls-close-on-black-pressed: #80c3cb;
  --theme-controls-close-on-black-disabled: #cfd8e3;
  --theme-controls-close-on-white-standard: #97a6ba;
  --theme-controls-close-on-white-hover: #64748b;
  --theme-controls-close-on-white-pressed: #475569;
  --theme-controls-close-on-white-disabled: #cfd8e3;
  --theme-stroke-dark: #27303f;
  --theme-stroke-light: #cfd8e3;
  --theme-stroke-accent: #008697;
  --theme-button-background-primary-standard: #e74694;
  --theme-button-background-primary-hover: #bf125d;
  --theme-button-background-primary-pressed: #751a3d;
  --theme-button-background-primary-disabled: #f1f5f9;
  --theme-button-background-secondary-standard: #d8ceed;
  --theme-button-background-secondary-hover: #b09eda;
  --theme-button-background-secondary-pressed: #896dc8;
  --theme-button-background-secondary-disabled: #f1f5f9;
  --theme-button-background-selector-standard: #f1f5f900;
  --theme-button-background-selector-hover: #e2e8f0;
  --theme-button-background-selector-pressed: #cfd8e3;
  --theme-button-background-selector-disabled: #f1f5f9;
  --theme-button-background-collapse-horizontal-standard: #1d0652;
  --theme-button-background-collapse-horizontal-hover: #7555bf;
  --theme-button-background-collapse-horizontal-pressed: #1d0652;
  --theme-button-background-collapse-horizontal-disabled: #e2e8f0;
  --theme-button-background-collapse-vertical-standard: #ebe7f6;
  --theme-button-background-collapse-vertical-hover: #d8ceed;
  --theme-button-background-collapse-vertical-pressed: #c4b6e3;
  --theme-button-background-collapse-vertical-disabled: #f1f5f9;
  --theme-s: 4;
  --theme-medium: 6;
  --theme-large: 8;
  --theme-tab-blank-active-standard: #27303f;
  --theme-tab-blank-active-hover: #475569;
  --theme-tab-blank-active-pressed: #27303f;
  --theme-tab-blank-active-disabled: #cfd8e3;
  --theme-tab-blank-unactive-standard: #97a6ba;
  --theme-tab-blank-unactive-hover: #27303f;
  --theme-tab-blank-unactive-pressed: #cfd8e3;
  --theme-tab-blank-unactive-disabled: #cfd8e3;
  --theme-tab-filled-active-standard: #e74694;
  --theme-tab-filled-active-hover: #bf125d;
  --theme-tab-filled-active-pressed: #751a3d;
  --theme-tab-filled-active-disabled: #cfd8e3;
  --theme-tab-filled-unactive-standard: #d8ceed;
  --theme-tab-filled-unactive-hover: #b09eda;
  --theme-tab-filled-unactive-pressed: #896dc8;
  --theme-tab-filled-unactive-disabled: #fbfdfe;
  --theme-tab-outlined-active-standard: #27303f;
  --theme-tab-outlined-active-hover: #008697;
  --theme-tab-outlined-active-pressed: #05505c;
  --theme-tab-outlined-active-disabled: #97a6ba;
  --theme-tab-outlined-unactive-standard: #cfd8e3;
  --theme-tab-outlined-unactive-hover: #008697;
  --theme-tab-outlined-unactive-pressed: #05505c;
  --theme-tab-outlined-unactive-disabled: #97a6ba;
  --theme-input-background-standard: #ebe7f6;
  --theme-input-background-hover: #d8ceed;
  --theme-input-background-pressed: #c4b6e3;
  --theme-input-background-disabled: #f1f5f9;
  --theme-input-stroke-standard: #b3dbe0;
  --theme-input-stroke-hover: #80c3cb;
  --theme-input-stroke-pressed: #4daab6;
  --theme-input-stroke-disabled: #e2e8f0;
  --theme-dropdown-background-standard: #ebe7f6;
  --theme-dropdown-background-hover: #d8ceed;
  --theme-dropdown-background-pressed: #c4b6e3;
  --theme-dropdown-background-disabled: #f1f5f9;
  --theme-dropdown-stroke-standard: #b3dbe0;
  --theme-dropdown-stroke-hover: #80c3cb;
  --theme-dropdown-stroke-pressed: #4daab6;
  --theme-dropdown-stroke-disabled: #e2e8f0;
  --theme-checkbox-background-standard: #ebe7f6;
  --theme-checkbox-background-hover: #ebe7f6;
  --theme-checkbox-background-pressed: #c4b6e3;
  --theme-checkbox-background-disabled: #f1f5f9;
  --theme-checkbox-background-checked: #e74694;
  --theme-checkbox-background-checked-hover: #f8b4d9;
  --theme-checkbox-background-checked-disabled: #f1f5f9;
  --theme-checkbox-stroke-standard: #008697;
  --theme-checkbox-stroke-hover: #008697;
  --theme-checkbox-stroke-pressed: #006b79;
  --theme-checkbox-stroke-disabled: #e2e8f0;
  --theme-radiobutton-background-standard: #ebe7f6;
  --theme-radiobutton-background-hover: #d8ceed;
  --theme-radiobutton-background-pressed: #c4b6e3;
  --theme-radiobutton-background-disabled: #f1f5f9;
  --theme-radiobutton-background-checked: #e74694;
  --theme-radiobutton-background-checked-hover: #f8b4d9;
  --theme-radiobutton-background-checked-disabled: #f1f5f9;
  --theme-radiobutton-stroke-standard: #b3dbe0;
  --theme-radiobutton-stroke-hover: #80c3cb;
  --theme-radiobutton-stroke-pressed: #4daab6;
  --theme-radiobutton-stroke-disabled: #e2e8f0;
  --theme-radiobutton-stroke-disabled-copy: #e2e8f0;
  --theme-xs: 2;
  --theme-xl: 32;
  --theme-link-on-light-standard: #f17eb8;
  --theme-link-on-light-hover: #e74694;
  --theme-link-on-light-pressed: #bf125d;
  --theme-link-on-light-visited: #e74694;
  --theme-link-on-light-disabled: #cfd8e3;
  --theme-link-on-dark-standard: #4daab6;
  --theme-link-on-dark-hover: #80c3cb;
  --theme-link-on-dark-pressed: #1992a1;
  --theme-link-on-dark-visited: #80c3cb;
  --theme-link-on-dark-disabled: #cfd8e3;
  --theme-side-bar-background: #613db5;
  --theme-collapse-text-standard: #27303f;
  --theme-collapse-text-hover: #e74694;
  --theme-collapse-text-pressed: #bf125d;
  --theme-collapse-text-disabled: #cfd8e3;
      }